[Unit]
Description=gunicorn daemon for School Management System (epk)
After=network.target

[Service]
User=devops
Group=devops
WorkingDirectory=/home/devops/home/personal/personalweb/epk
Environment="DJANGO_SETTINGS_MODULE=core.settings_production"
EnvironmentFile=/home/devops/home/personal/personalweb/epk/.env
ExecStart=/home/devops/home/personal/personalweb/epk/venv/bin/gunicorn \
  --config /home/devops/home/personal/personalweb/epk/gunicorn.conf.py \
  core.wsgi:application
Restart=always
RestartSec=3

[Install]
WantedBy=multi-user.target
